.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #ddd;
}

/* Ajuste de inputs y botón */
input[type="text"] {
  padding: 10px;
  border: 1px solid #777;
  border-radius: 4px;
  background-color: #fff;
  color: #777;
}

.input-group:last-child {
  margin-bottom: 0;
}

button {
  max-width: 90px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #444;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease,
  background-color 0.2s ease;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05); /* Escalado suave */
}

button:active {
  transform: scale(0.95); /* Efecto de presión */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #003d82;
}
